<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470095899545-v3qi2jl8ttr7gnf1ksd1ukbl388kp3vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470095899545-v3qi2jl8ttr7gnf1ksd1ukbl388kp3vs</string>
	<key>API_KEY</key>
	<string>AIzaSyAr1yErLkG7mE0_sP6El9ZKFejoquKfRCU</string>
	<key>GCM_SENDER_ID</key>
	<string>470095899545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kppmining.poins3</string>
	<key>PROJECT_ID</key>
	<string>poins-a2e4c</string>
	<key>STORAGE_BUCKET</key>
	<string>poins-a2e4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470095899545:ios:869437b9f6bcaed2d6c108</string>
</dict>
</plist>